$color-primary: #005bbb;

$color-blue-dark-5: #003c61;
$color-blue-dark-6: #0a3461;

$color-grey-bg-1: #f7f8f9;
$color-grey-bg-2: #f1f2f4;

$color-grey-light: #9bacba;
$color-grey-light-1: #e6eff8;

$color-grey-dark: #2c3945;
$color-grey-dark-1: #8590a2;
$color-grey-dark-2: #758195;

$color-green-dark: #19381a;

$color-white: #fff;
$color-black: #000;
$color-red: #ff3b30;
$color-green: #37b24d;

$radius-small: 0.4rem;
$radius-big: 0.8rem;

@mixin responsive($bp) {
  @if $bp == phone {
    @media only screen and (max-width: 29.9375em) {
      // 479px
      @content;
    }
  } @else if $bp == tablet-portrait {
    @media only screen and (max-width: 47.9375em) {
      // 767px
      @content;
    }
  } @else if $bp == tablet-land {
    @media only screen and (max-width: 63.9375em) {
      // 1023px
      @content;
    }
  } @else if $bp == big-desktop {
    @media only screen and (min-width: 90em) {
      //1440px+
      @content;
    }
  }
}

*,
*::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #fff;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  max-width: 143.9rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));

  @include responsive(big-desktop) {
    max-width: 100%;
  }
}
